<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/beans">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Scando API Specification</title>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/signin.css" rel="stylesheet"/>
</head>
<body style="background-color: #f59542">
<section class="login-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-8 col-sm-6 offset-sm-6 col-12  ">
                <div class="login-section">
                    <div>
                        <div class="login-head"><img src="img/scando.png"></div>
                        <form action="/api-spec-login" class="form-signin" method="post">
                            <h2 class="form-signin-heading">Scando API Specification</h2>
                            <div class=" mb-4 mr-sm-2">
                                <label for="username">Username</label>
                                <div class="clearfix"></div>
                                <input autofocus class="form-control formctrl-input" id="username" name="username"
                                       placeholder="Username"
                                       required type="text">
                            </div>
                            <div class=" mb-4 mr-sm-2">
                                <label for="password">Password</label>
                                <input class="form-control formctrl-input" id="password" name="password"
                                       placeholder="Password" required
                                       type="password">
                            </div>
                            <div th:if="${error}">
                                <div class="alert alert-danger"> Invalid Username or Password.</div>
                            </div>

                            <button class="btn  btn-login" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="js/bootstrap.min.js"></script>
</html>
